@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    max-width: 110rem;
    margin: 0 auto;
    padding: 1rem;
}
.btn{
    display: inline-block;
    padding: 0.3rem 1rem;
    border: 1px solid transparent;
    font-weight: bold;
}
.btn.bg--white{
    @apply bg-white text-black border-[1px] border-black rounded-full
}
.btn.bg--white:hover{
    @apply bg-gray-200
}
.btn.bg--black{
    @apply bg-black text-white border-[1px] border-black rounded-full
}
.btn.bg--black:hover{
    @apply bg-gray-700
}

@layer components{
    .header{
        background:#ffffff;
        position:relative;
        position:fixed;
        width:100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .header .container{
        @apply lg:p-[.5rem]
    }
    .header img{
        @apply w-[2.5rem]
    }
    .branding{
        @apply lg:flex lg:items-center
    }
    .header__wrapper{
        @apply flex items-center justify-between
    }
    .header__actions{
        @apply hidden lg:flex lg:gap-[1.5rem];
    }
    .header__nav{
        @apply bg-puti absolute top-[5.6rem] right-[-100rem] h-[100vh] w-[75%] 
        px-[2rem] transition-all z-[999] lg:static lg:w-fit lg:h-fit
    }
    .header__nav.open{
        @apply right-[0rem] transition-all
    }
    .header__nav ul{
        @apply py-[2rem] flex flex-col gap-[1.5rem] lg:flex-row
    }
    .header__nav ul li a{
        @apply text-[1.5rem]  lg:text-[1.1rem]
    }
    .header__nav ul.nav__top{
        @apply border-b-[1px] border-semento lg:border-none
    }
    .header__nav ul.nav__bottom{
        @apply lg:hidden
    }
    .header__nav ul.nav__top li:hover a{
        @apply text-lasalle
    }
    .toggle__menu{
        @apply flex flex-col gap-[.2rem] lg:hidden
    }
    .toggle__menu span{
        @apply w-[2rem] h-[.2rem] bg-semento block rounded-full
    }
    .buhok{
        @apply h-[100vh] w-[100%] bg-black absolute z-[999] top-[5.6rem] left-[0] opacity-0 transition-all
    }
    .buhok.open{
        @apply opacity-[.5]  transition-all
    }
    .kalbo{
        @apply bg-puti
    }
    .kalbo__wrapper{
        @apply bg-gray-600 py-[2rem]
    }
    .kalbo__nav{
        @apply bg-gray-600 max-w-[25rem] flex flex-wrap gap-[2rem] mx-auto justify-center
    }
    .kalbo__nav li{
        @apply p-[.5rem] rounded-md text-puti
    }
    .kalbo__nav li.active{
        @apply bg-blue-500 
    }
    .kalbo__item__content{
        @apply hidden
    }
    .kalbo__item__content img{
        @apply w-[10rem] h-auto rounded-full bg-lasalle px-[1rem]
    }
    .kalbo__item__content.active{
        @apply flex gap-[2rem] items-center justify-center
    }
    .kalbo__desc__wrapper{
        @apply bg-gray-300 p-[2rem]
    }
    .kalbo__text h2{
        @apply text-[1.5rem] font-bold mb-[2rem]
    }
    .kalbo__text table tr{
        @apply h-[5rem] flex flex-col
    }
    .kalbo__text table tr td:first-child{
        @apply font-semibold
    }
    


    /*--------STARBS PROMOS--------*/
    .get .get__wrapper{
        @apply bg-vlberde flex flex-col gap-[1rem] items-center
    }
    .get .get__wrapper h2{
        @apply font-bold text-[1.5rem] pt-[2.5rem] 
    }
    .get .get__wrapper ul{
        @apply flex justify-center gap-[4rem] pb-[2rem]
    }
    .get .get__wrapper ul li{
        @apply font-bold
    }
    .get .get__promo__wrapper{
        @apply bg-lberde px-[2rem] 
    }
    .get .get__promo__text{
        @apply pb-[3rem]
    }
    .get .get__item__content{
        @apply hidden
    }
    .get .get__item__content.active{
        @apply flex flex-col gap-[1rem]
    }
    .get__promo .get__promo__text{
        @apply text-center
    }
    .get__promo .get__promo__text h3{
        @apply font-bold text-[1.5rem] pb-[1rem]
    }
}