@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: KanitRegular;
    src: url("../fonts/AnyConv.com__Kanit-Regular.woff");
}
@font-face {
    font-family: KanitMedium;
    src: url("../fonts/AnyConv.com__Kanit-Medium.woff");
}

body{
    font-family: KanitRegular;
}
h5{
    color: gray;
    font-family: KanitMedium;
}

.container{
    max-width: 110rem;
    margin: 0 auto;
    padding: 1rem;
}
.btn{
    display: inline-block;
    padding: 0.3rem 1rem;
    border: 1px solid transparent;
    font-weight: bold;
    border-radius: 3rem;
}
.btn.bg--white{
    @apply bg-white text-black border-[1px] border-black rounded-full
}
.btn.bg--white:hover{
    @apply bg-gray-200
}
.btn.bg--black{
    @apply bg-black text-white border-[1px] border-black rounded-full
}
.btn.bg--black:hover{
    @apply bg-gray-700
}
.btn.bg--green{
    background: #1E3932;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.btn.bg--dgreen{
    background: #006241;
    color: #ffffff;
    border: 1px solid transparent;
}
.btn.bg--dgreen:hover{
    background: #00754a;
}


@layer components{
    /*HEADER*/
    .header{
        background:#ffffff;
        position:relative;
        position:fixed;
        width:100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 9999;
    }
    .header .container{
        @apply lg:p-[.5rem]
    }
    .header img{
        @apply w-[2.5rem]
    }
    .branding{
        @apply lg:flex lg:items-center
    }
    .header__wrapper{
        @apply flex items-center justify-between
    }
    .header__actions{
        @apply hidden lg:flex lg:gap-[1.5rem] items-center
    }
    .header__nav{
        @apply bg-puti absolute top-[5.6rem] right-[-100rem] h-[100vh] w-[75%] 
        px-[2rem] transition-all z-[9999] lg:static lg:w-fit lg:h-fit
    }
    .header__nav.open{
        @apply right-[0rem] transition-all
    }
    .header__nav ul{
        @apply py-[2rem] flex flex-col gap-[1.5rem] lg:flex-row
    }
    .header__nav ul li a{
        @apply text-[1.5rem]  lg:text-[1.1rem]
    }
    .header__nav ul.header__nav__main{
        @apply border-b-[1px] border-semento lg:border-none
    }
    .header__nav ul.header__nav__acts{
        @apply lg:hidden
    }
    .header__nav ul.header__nav__main li:hover a{
        @apply text-lasalle
    }
    .toggle__menu{
        @apply flex flex-col gap-[.2rem] lg:hidden
    }
    .toggle__menu span{
        @apply w-[2rem] h-[.2rem] bg-semento block rounded-full
    }
    /*OVERLAY*/
    .buhok.open{
        @apply h-[100vh] w-[100%] bg-black absolute z-[9998] top-[5.6rem] left-[0] opacity-[.5] transition-all
    }


    /*------KALBO-------*/
    .kalbo{
        @apply bg-puti
    }
    .kalbo__wrapper{
        @apply bg-gray-600 py-[2rem]
    }
    .kalbo__nav{
        @apply bg-gray-600 max-w-[25rem] flex flex-wrap gap-[2rem] mx-auto justify-center
    }
    .kalbo__nav li{
        @apply p-[.5rem] rounded-md text-puti
    }
    .kalbo__nav li.active{
        @apply bg-blue-500 
    }
    .kalbo__item__content{
        @apply hidden
    }
    .kalbo__item__content img{
        @apply w-[10rem] h-auto rounded-full bg-lasalle px-[1rem]
    }
    .kalbo__item__content.active{
        @apply flex gap-[2rem] items-center justify-center
    }
    .kalbo__desc__wrapper{
        @apply bg-gray-300 p-[2rem]
    }
    .kalbo__text h2{
        @apply text-[1.5rem] font-bold mb-[2rem]
    }
    .kalbo__text table tr{
        @apply h-[5rem] flex flex-col
    }
    .kalbo__text table tr td:first-child{
        @apply font-semibold
    }
    /* BANNER */
    .banner{
        background-image:url("../img/rewards/star.png");
        background-size: cover;
        background-color: #D0EAE4;
        height: 550px;
        background-position-y: 15rem;
        background-repeat: no-repeat;
        text-align: center;

        @media screen and (min-width: 1024px){
            background-position-y: 0rem;
            background-size: contain;
            background-position-x: 70rem;
            height: 800px;
            text-align: unset;
            display: flex;
            align-items: center;
        }
    }

    /*---BANNER----*/
    .banner .banner__wrapper{
        @apply px-[5rem] pt-[1rem] text-[1rem] font-normal flex flex-col items-center gap-[1rem]
        lg:items-start
    }
    .banner__wrapper h1{
        @apply text-[1.6rem] font-semibold w-[15rem]
        lg:text-[2.5rem] lg:w-[18rem]
    }
    .banner__wrapper p{
        @apply py-[0.5rem] 
    }
    .banner__wrapper #join1{
        @apply px-[1rem] py-[0.25rem] mb-[1rem] mx-auto items-center lg:mr-auto lg:ml-0 lg:my-auto
    }
    .banner__wrapper #join2{
        @apply underline
    }
    .banner__wrapper #join2:hover{
        @apply no-underline
    }
    

    /*---EASY---*/
    .easy{
        @apply py-[2rem]
    }
    .easy .easy__wrapper{
        @apply flex flex-col items-center gap-[3rem]
    }
    .easy .easy__top{
        @apply text-center
    }
    .easy .easy__top h2{
        @apply pb-[1rem] text-[1.5rem] font-semibold
    }
    .easy .easy__bottom{
        @apply flex flex-col
        lg:flex-row lg:text-center gap-[1rem]
        lg:gap-[3.5rem]
    }
    .easy .easy__step{
        @apply flex gap-[1rem] pb-[2rem]
        lg:flex-col lg:w-[20rem]
    }
    .easy .easy__step h3{
        @apply text-[1.2rem] font-semibold pb-[1rem]
    }
    .easy .easy__step h4{
        @apply border-2 border-green-700 rounded-full px-[1rem] py-[0.2rem] 
        text-lasalle text-[1.4rem] font-semibold mx-auto mb-auto
        lg:my-auto
    }
    .easy .easy__step_text p{
        @apply text-[0.9rem]
    }
    .easy .easy__step__text p a{
        @apply text-green-800 underline
    }
    .easy .easy__step__text p a:hover{
        @apply no-underline
    }

    /*--------STARBS PROMOS--------*/

    .get{
        @apply bg-lasalle
    }
    .get .get__wrapper{
        @apply bg-vlberde flex flex-col items-center pt-[2.5rem] font-bold drop-shadow-lg
        lg:pt-[2.5rem]
    }
    .get .get__wrapper h2{
        @apply text-[1.5rem] pb-[1rem]
        lg:pb-[3rem]
    }
    .get .get__nav{
        @apply flex flex-wrap mx-auto justify-center text-[1rem]
        lg:font-semibold lg:text-[1.4rem] lg:max-w-[35rem]
    }
    .get .get__nav li{
        @apply p-[1.67rem] relative
    }
    .get .get__nav li:after{
        @apply content-[''] w-0 h-[3px] bg-red-500 block absolute bottom-0 left-0 origin-bottom-left ease-in duration-[.5s]
    }
    .get .get__nav li.active:after{
        @apply w-full
    }
    .get .get__nav li.active{
        @apply border-green-700
    }
    .get .get__nav li a{
        @apply text-[0.6rem]
    }
    .get .get__nav li a span{
        @apply font-semibold text-[1.2rem]
    }
    
    /*gpwrapper*/
    .get .get__promo{
        @apply lg:h-[18rem]
    }    
    .get .get__promo__wrapper{
        @apply bg-lberde px-[1rem] h-[400px] relative
        lg:h-[270px]
    }
    .get__item__content{
        @apply p-[1.5rem] absolute top-[4rem] opacity-0 ease-in duration-300 lg:flex lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:max-w-[50rem] lg:top-[8rem]
    }
    .get__item__content.active{
        @apply top-0 opacity-[1] ease-in duration-[.5s]
    }
    .get__item__content img{
        @apply overflow-x-hidden
        lg:w-[20rem]
    }
    .get__promo__text{
        @apply text-center flex flex-col justify-center
        lg:text-left lg:max-w-[20rem]
    }
    .get__promo__text h3{
        @apply font-semibold text-[1.3rem] pb-[1rem]
        lg:text-[1.6rem]
    }
    .get__item__content{
        /* @apply hidden */
    }
    /* .get__item__content.active{
        @apply flex flex-col 
        lg:flex-row lg:w-[40%] lg:mx-auto lg:justify-center lg:gap-[3rem]
    } */


    /*---EXTRA---*/
    .extra{
        @apply bg-white
    }
    .extra .extra__wrapper{
        @apply flex flex-col px-[0.4rem] py-[2.5rem]
        lg:py-[4rem] lg:items-center
    }
    .extra .extra__top{
        @apply flex flex-col text-center gap-[1.2rem] pb-[3rem]
        lg:max-w-[40rem]
    }
    .extra .extra__top h2{
        @apply text-[1.5rem] font-bold
        lg:text-[1.8rem] lg:font-bold
    }
    .extra .extra__top h4{
        @apply text-[0.95rem] font-normal
    }
    .extra__content{
        @apply flex flex-col gap-[2rem]
        lg:flex-row lg:max-w-[80rem]
    }
    .extra__items{
        @apply flex gap-[1rem]
        lg:flex-col lg:items-center lg:gap-[2rem]
    }
    .extra__items img{
        @apply w-[7rem] h-[7rem]
    }
    .extra__items__text{
        @apply text-[0.95rem]
        lg:text-center
    }
    .extra__items__text h3{
        @apply font-bold
        lg:text-[1.2rem]
    }
    .extra__items__text p{
        @apply py-[1rem]
    }
    .extra__items__text a{
        @apply text-lasalle font-medium underline
    }
    .extra__items__text a:hover{
        @apply no-underline
    }



    /*---STARS---*/
    .stars{
        @apply bg-diputi
    }
    .stars__wrapper{
        @apply px-[0.4rem] py-[3rem]
        lg:px-[9rem] lg:py-[2rem]
    }
    .stars__title{
        @apply flex flex-col gap-[1rem] items-center pb-[1rem]
        lg:max-w-[40rem] lg:mx-auto lg:pb-[2rem]
    }
    .stars__title h2{
        @apply text-[1.5rem] font-bold
        lg:text-[1.8rem]
    }
    .stars__title h4{
        @apply text-[0.95rem] font-normal text-center
    }
    .stars__content{
        @apply flex flex-col 
    }
    .stars__item{
        @apply flex flex-col gap-[2rem] py-[3rem] border-b-[1px] border-semento border-opacity-20
        lg:flex-row lg:gap-[3.5rem]
    }
    #s-item{
        @apply border-none pb-[0rem]
    }
    .stars__payment{
        @apply w-[15rem]
    }
    .stars__payment h3{
        @apply text-[1.1rem] font-semibold
        lg:text-[1.6rem]
    }
    .stars__payment h3 span{
        @apply text-[1rem]
    }
    .stars__payment p{
        @apply text-[0.95rem]
    }
    .stars__step{
        @apply flex gap-[1rem]
        lg:w-[25rem] lg:gap-[1.1rem]
    }
    .stars__step img{
        @apply w-[7rem]
    }
    .stars__step__text{
        @apply text-[0.95rem] leading-[1.35rem]
    }
    .stars__step__text h4{
        @apply pb-[1rem] font-bold
        lg:text-[1.2rem]
    }


    /*---REWARDS---*/
    .rewards{
        @apply bg-lberde
        lg:bg-sbbg lg:p-[2rem]
    }
    .rewards__wrapper{
        @apply flex flex-col gap-[0.5rem]
        lg:flex-row lg:justify-center lg:items-center lg:gap-[8rem] lg:py-[2.5rem] lg:bg-lberde
    }
    .rewards__small-1 img{
        @apply mr-[auto]
        lg:hidden
    }
    .rewards__stars-1 img{
        @apply hidden
        lg:flex lg:h-[33rem]
    }
    .rewards__stars-2 img{
        @apply hidden
        lg:flex lg:h-[33rem]
    }
    .rewards__small-2 img{
        @apply ml-[auto]
        lg:hidden
    }
    .rewards__content{
        @apply flex flex-col gap-[2rem] items-center text-center px-[1.3rem] leading-[1.35rem]
        lg:px-0 lg:max-w-[35rem]
    }
    .rewards__title h2{
        @apply text-[1.5rem] font-bold pb-[1rem]
        lg:text-[1.8rem] lg:pb-[1.8rem]
    }
    .rewards__title p{
        @apply text-[0.95rem]
    }
    .rewards__items img{
        @apply w-[12rem] mx-auto
    }
    .rewards__items p{
        @apply pt-[0.5rem] pb-[1.5rem] text-[0.95rem]
        lg:pt-[0.75rem]
    }
    .rewards__items p a{
        @apply text-lasalle underline
    }
    .rewards__items p a:hover{
        @apply no-underline
    }



    /*-----QUESTION-----*/
    .question__wrapper{
        @apply flex flex-col py-[3rem] gap-[1rem]
        lg:py-[6rem] lg:pl-[25rem] lg:pr-[43rem]
    }
    .question__wrapper h2{
        @apply text-[1.5rem] font-bold
        lg:text-[1.8rem]
    }
    .question__wrapper p{
        @apply text-[0.95rem] pb-[0.9rem]
    }
    .question__wrapper p a{
        @apply text-lasalle
    }
    .question__wrapper p a i{
        @apply text-[0.7rem] no-underline
    }
    .question__wrapper p a span{
        @apply underline
    }
    .question__wrapper p a span:hover{
        @apply no-underline
    }




    /*-----RESTRICTIONS-----*/
    .restrictions{
        @apply bg-fputi py-[1rem] mb-[3rem]
        lg:py-[2rem]
    }
    .restrictions__wrapper{
        @apply flex flex-col gap-[1.5rem] text-[0.9rem] 
        lg:px-[9rem]
    }
    .restrictions__top{
        @apply flex flex-col gap-[0.5rem]
    }
    .restrictions__items{
        @apply flex flex-col gap-[1.5rem]
        lg:flex-row lg:gap-[2rem]
    }
    .restrictions__items__left{
        @apply flex flex-col gap-[0.8rem]
        lg:w-[50%]
    }
    .restrictions__items__right{
        @apply flex flex-col gap-[0.8rem]
        lg:w-[50%]
    }
    .restrictions__wrapper p a{
        @apply text-lasalle 
    }
    .restrictions__wrapper p a i{
        @apply text-[0.7rem] no-underline
    }
    .restrictions__wrapper p a span{
        @apply underline
    }
    .restrictions__wrapper p a span:hover{
        @apply no-underline
    }

}